.hover-link a {
    display: inline-block;
    color: #212529;
    margin-left: 10px;
    transition: transform .3s ease-in-out;
}

.hover-link a:hover {
    transform: scale(1.2);
}

.card-header {
    border: none;
}

.form-check-input {
    background-color: #f2f2f2;
    border: none;
}

.form-check-input:checked {
    background-color: #1F6C7C;    
    border: none;
}

.hide-apartment {
    display: none;
}