.hover-link a {
    display: inline-block;
    color: #212529;
    margin-left: 10px;
    transition: transform .3s ease-in-out;
}

.hover-link a:hover {
    transform: scale(1.2);
}

.card-header {
    border: none;
}

.form-check-input {
    background-color: #f2f2f2;
    border: none;
}

.form-check-input:checked {
    background-color: #1F6C7C;    
    border: none;
}

.hide-apartment {
    display: none;
}

.Basisdaten, .Leistungen, .Umzugsliste {
    display: none;
}

.Basisdaten.active, .Leistungen.active, .Umzugsliste.active {
    display: block;
}

.table-blue th {
    background-color: #1F6C7C;
    color: white;
}

.stepDisplay ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    color: gray;
}

.stepDisplay li {
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 75%;
    line-height: 25px;
    margin-right: 25px;
    margin-left: 25px;
    background-color: #1f6c7c00;
    transition: all 1s;
    border-radius: 50%;
}

.activeNum {
    font-size: 100% !important;
    color: white;
    background-color: #1F6C7C !important;
}

.showCollapse {
    background-color: #144a55;
}

.showCollapse span {
    display: none;
}

.showCollapse::before {
    content: "Einklappen";
}

.room_name {
    width: 50%;
    display: inline-block;
}