* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mada", serif;
    color: white;
} 

body {
    overflow-x: hidden;
    background-color: #0c0014;
}

section {
    height: 100vh;
}