#visformcontainer {
	width: 100%;
}

.field1 {
  float: left;
  width: 50%;
  padding-right: 50%;
}

.field2 {
  float: left;
  width: 50%;
}

.field3 {
  float: right;
  width: 50%;
}

.field4 {
  float: left;
  width: 50%;
}

.field5 {
  float: right;
  width: 50%;
}

.field6 {
  float: left;
  width: 50%;
}

.field7 {
  float: right;
  width: 50%;
}

.field8 {
  float: left;
  width: 50%;
}

.field9 {
  float: right;
  width: 50%;
}

.field10 {
  float: left;
  width: 50%;
}

.field11 {
  float: right;
  width: 50%;
}

.field12 {
  float: left;
  width: 50%;
}

.field13 {
  float: right;
  width: 50%;
}

.field14 {
  float: left;
  width: 50%;
}

.field15 {
  float: right;
  width: 50%;
}

.field16 {
  float: left;
  width: 50%;
}

.field17 {
  float: right;
  width: 50%;
}

.field18 {
  float: left;
  width: 50%;
}

.field19 {
  float: right;
  width: 50%;
}

.field20 {
  float: left;
  width: 50%;
}

.field21 {
  float: left;
  width: 50%;
}

.field22 {
  float: right;
  width: 50%;
}

.field23 {
  clear: both;
  width: 100%;
}

.field28 {
  clear: both;
  width: 100%;
}

.field34 {
  clear: both;
  width: 100%;
}

.field35 {
  float: left;
  width: 50%;
}

.field36 {
  margin-top: 3.2em;
  float: right;
  width: 50%;
}

.field37 {
  clear: both;
  float: left;
  width: 50%;
}

.field38 {
  float: right;
  width: 50%;
}

.field39 {
  clear: both;
  float: left;
  width: 50%;
}

.field40 {
  float: right;
  width: 50%;
}

.field41 {
  float: left;
  width: 50%;
}

.field42 {
  float: right;
  width: 50%;
}

.field43 {
  clear: both;
  float: left;
  width: 50%;
}

.field44 {
  float: right;
  width: 50%;
}

.field45 {
  float: left;
  width: 50%;
}

.field46 {
  float: right;
  width: 50%;
}

.field47 {
  float: left;
  width: 50%;
}

.field48 {
  float: right;
  width: 50%;
}

.field49 {
  float: left;
  width: 50%;
}

.field50 {
  float: right;
  width: 50%;
}

.field51 {
  float: left;
  width: 50%;
}

.field52 {
  float: right;
  width: 50%;
}

.field53 {
  float: left;
  width: 50%;
}

.field54 {
  float: right;
  width: 50%;
}

.field55 {
  float: left;
  width: 50%;
}

.field56 {
  float: right;
  width: 50%;
}

.field57 {
  float: left;
  width: 50%;
}

.field58 {
  float: right;
  width: 50%;
}

.field59 {
  float: left;
  width: 50%;
}

.field60 {
  float: right;
  width: 50%;
}

.field61 {
  float: left;
  width: 50%;
}

.field62 {
  float: right;
  width: 50%;
}

.field63 {
  float: left;
  width: 50%;
}

.field64 {
  float: right;
  width: 50%;
}

.field65 {
  float: left;
  width: 50%;
}

.field66 {
  float: right;
  width: 50%;
}

.field67 {
  float: left;
  width: 50%;
}

.field68 {
  float: right;
  width: 50%;
}

.field69 {
  float: left;
  width: 50%;
}

.field70 {
  float: right;
  width: 50%;
}

.field71 {
  float: left;
  width: 50%;
}

.field72 {
  float: right;
  width: 50%;
}

.field73 {
  float: left;
  width: 50%;
}

.field74 {
  float: right;
  width: 50%;
}

.field75 {
  float: left;
  width: 50%;
}

.field76 {
  float: right;
  width: 50%;
}

.field77 {
  float: left;
  width: 50%;
}

.field78 {
  float: right;
  width: 50%;
}

.field79 {
  clear: both;
  float: left;
  width: 50%;
}

.field80 {
  margin-top: 3.2em;
  float: right;
  width: 50%;
}

.field81 {
  clear: both;
  float: left;
  width: 50%;
}

.field82 {
  float: right;
  width: 50%;
}

.field83 {
  float: left;
  width: 50%;
}

.field84 {
  float: right;
  width: 50%;
}

.field85 {
  float: left;
  width: 50%;
  padding-right: 50%;
}

.field86 {
  clear: both;
  float: left;
  width: 50%;
}

.field87 {
  margin-top: 3.2em;
  float: right;
  width: 50%;
}

.field88 {
  clear: both;
  float: left;
  width: 50%;
}

.field89 {
  float: right;
  width: 50%;
}

.field90 {
  float: left;
  width: 50%;
}

.field91 {
  float: left;
  width: 50%;
}

.field92 {
  float: right;
  width: 50%;
}

.field93 {
  float: left;
  width: 50%;
}

.field94 {
  float: right;
  width: 50%;
}

.field95 {
  float: left;
  width: 50%;
}

.field96 {
  float: right;
  width: 50%;
}

.field97 {
  float: left;
  width: 50%;
}

.field98 {
  float: right;
  width: 50%;
}

.field99 {
  float: left;
  width: 50%;
}

.field100 {
  float: right;
  width: 50%;
}

.field101 {
  float: left;
  width: 50%;
}

.field102 {
  float: right;
  width: 50%;
}

.field103 {
  float: left;
  width: 50%;
}

.field104 {
  float: right;
  width: 50%;
}

.field105 {
  float: left;
  width: 50%;
}

.field106 {
  float: left;
  width: 50%;
}

.field107 {
  clear: both;
  float: left;
  width: 50%;
}

.field108 {
  float: right;
  width: 50%;
  margin-top: 3.2em;
}

.field109 {
  clear: both;
  float: left;
  width: 50%;
}

.field110 {
  float: right;
  width: 50%;
}

.field111 {
  float: left;
  width: 50%;
}

.field112 {
  float: right;
  width: 50%;
}

.field113 {
  float: left;
  width: 50%;
}

.field114 {
  float: right;
  width: 50%;
}

.field115 {
  float: left;
  width: 50%;
}

.field116 {
  float: right;
  width: 50%;
}

.field117 {
  float: left;
  width: 50%;
}

.field118 {
  float: right;
  width: 50%;
}

.field119 {
  float: left;
  width: 50%;
}

.field120 {
  float: right;
  width: 50%;
}

.field121 {
  float: left;
  width: 50%;
}

.field122 {
  float: right;
  width: 50%;
  margin-top: 3.2em;
}

.field123 {
  clear: both;
  float: left;
  width: 50%;
}

.field124 {
  float: right;
  width: 50%;
}

.field125 {
  float: left;
  width: 50%;
}

.field126 {
  float: right;
  width: 50%;
}

.field127 {
  float: left;
  width: 50%;
}

.field128 {
  float: right;
  width: 50%;
}

.field129 {
  float: left;
  width: 50%;
}

.field130 {
  float: right;
  width: 50%;
}

.field131 {
  float: left;
  width: 50%;
}

.field132 {
  float: right;
  width: 50%;
}

.field133 {
  float: left;
  width: 50%;
}

.field134 {
  float: right;
  width: 50%;
}

.field135 {
  float: left;
  width: 50%;
}

.field136 {
  float: right;
  width: 50%;
}

.field137 {
  float: left;
  width: 50%;
}

.field138 {
  float: right;
  width: 50%;
}

.field139 {
  float: left;
  width: 50%;
  padding-right: 50%;
}

.field140 {
  float: left;
  width: 50%;
}

.field141 {
  float: left;
  width: 50%;
  margin-top: 3.2em;
}

.field142 {
  clear: both;
  float: left;
  width: 50%;
}

.field143 {
  float: right;
  width: 50%;
}

.field144 {
  float: left;
  width: 50%;
}

.field145 {
  float: right;
  width: 50%;
}

.field146 {
  float: left;
  width: 50%;
}

.field147 {
  float: right;
  width: 50%;
}

.field148 {
  float: left;
  width: 50%;
}

.field149 {
  float: right;
  width: 50%;
}

.field150 {
  float: left;
  width: 50%;
}

.field151 {
  float: right;
  width: 50%;
}

.field152 {
  float: left;
  width: 50%;
}

.field153 {
  float: right;
  width: 50%;
}

.field154 {
  float: left;
  width: 50%;
  padding-right: 50%;
}

.field155 {
  float: left;
  width: 50%;
}

.field156 {
  float: right;
  width: 50%;
  margin-top: 3.2em;
}

.field157 {
  clear: both;
  float: left;
  width: 50%;
}

.field158 {
  float: right;
  width: 50%;
}

.field159 {
  float: left;
  width: 50%;
}

.field160 {
  float: right;
  width: 50%;
}

.field161 {
  float: left;
  width: 50%;
}

.field162 {
  float: right;
  width: 50%;
}

.field163 {
  float: left;
  width: 50%;
}

.field164 {
  float: right;
  width: 50%;
}

.field165 {
  float: left;
  width: 50%;
}

.field166 {
  float: right;
  width: 50%;
}

.field167 {
  float: left;
  width: 50%;
}

.field168 {
  float: right;
  width: 50%;
}

.field169 {
  float: left;
  width: 50%;
}

.field170 {
  float: right;
  width: 50%;
}

.field171 {
  float: left;
  width: 50%;
}

.field172 {
  float: right;
  width: 50%;
}

.field173 {
  float: left;
  width: 50%;
}

.field174 {
  float: right;
  width: 50%;
  margin-top: 3.2em;
}

.field175 {
  clear: both;
  float: left;
  width: 50%;
}

.field176 {
  float: right;
  width: 50%;
}

.field177 {
  float: left;
  width: 50%;
}

.field178 {
  float: right;
  width: 50%;
}

.field179 {
  float: left;
  width: 50%;
}

.field180 {
  float: right;
  width: 50%;
}

.field181 {
  float: left;
  width: 50%;
}

.field182 {
  float: right;
  width: 50%;
}

.field183 {
  float: left;
  width: 50%;
}

.field184 {
  float: right;
  width: 50%;
  margin-top: 3.2em;
}

.field185 {
  clear: both;
  float: left;
  width: 50%;
}

.field186 {
  float: right;
  width: 50%;
}

.field187 {
  float: left;
  width: 50%;
}

.field188 {
  float: right;
  width: 50%;
}

.field189 {
  float: left;
  width: 50%;
}

.field190 {
  float: right;
  width: 50%;
}

.field191 {
  float: left;
  width: 50%;
}

.field192 {
  float: right;
  width: 50%;
}

.field193 {
  float: left;
  width: 50%;
}

.field203 {
  clear: both;
  width: 100%;
}

.field206 {
  margin-top: 1.5em;
}

.field208 {
  clear: both;
  width: 100%;
}

.visform_tooltip, .visform_tooltipcss {
	margin-top: 13px;
	margin-left: 5px;
}

.visform {
	margin-top: 10px;	
}

.visform .calendar {
		margin-left: 3px;
}

.visform input, .visform select, .visform textarea{ 
 	border: 1px solid #999;
	padding: 2px;
    background: none;
}

.visform input.error, .visform textarea.error,
.visform select.error {
	border: 1px dotted #FF0000 !important;
}

.captchaCont {
	clear: both;
  padding-top: 2.0em;
}

.visBtnCon {
	text-align: center !important;
	margin-bottom: 10px;
	margin-top: 10px;
}

/* CSS layout */

.visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 30%;
	font-size: 1em;
}

.field35 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field35.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field36 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field36.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field37 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field37.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field38 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field38.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field39 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field39.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field40 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field40.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field41 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field41.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field42 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field42.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field43 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field43.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field44 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field44.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field45 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field45.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field46 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field46.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field47 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field47.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field48 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field48.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field49 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field49.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field50 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field50.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field51 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field51.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field52 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field52.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field53 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field53.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field54 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field54.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field55 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field55.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field56 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field56.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field57 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field57.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field58 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field58.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field59 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field59.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field60 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field60.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field61 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field61.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field62 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field62.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field63 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field63.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field64 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field64.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field65 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field65.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field66 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field66.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field67 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field67.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field68 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field68.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field69 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field69.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field70 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field70.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field71 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field71.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field72 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field72.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field73 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field73.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field74 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field74.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field75 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field75.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field76 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field76.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field77 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field77.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field78 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field78.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field79 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field79.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field80 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field80.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field81 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field81.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field82 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field82.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field83 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field83.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field84 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field84.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field85 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field85.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field86 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field86.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field87 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 30%;
	font-size: 1em;
}

input#field87.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field88 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field88.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field89 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field89.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field90 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field90.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field91 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field91.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field92 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field92.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field93 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field93.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field94 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field94.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field95 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field95.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field96 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field96.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field97 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field97.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field98 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field98.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field99 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field99.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field100 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field100.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field101 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field101.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field102 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field102.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field103 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field103.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field104 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field104.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field105 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field105.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field106 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field106.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field107 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field107.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field108 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field108.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field109 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field109.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field110 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field110.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field111 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field111.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field112 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field112.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field113 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field113.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field114 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field114.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field115 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field115.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field116 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field116.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field117 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field117.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field118 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field118.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field119 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field119.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field120 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field120.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field121 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field121.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field122 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field122.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field123 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field123.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field124 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field124.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field125 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field125.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field126 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field126.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field127 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field127.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field128 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field128.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field129 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field129.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field130 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field130.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field131 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field131.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field132 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field132.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field133 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field133.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field134 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field134.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field135 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field135.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field136 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field136.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field137 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field137.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field138 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field138.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field139 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field139.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field140 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field140.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field141 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field141.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field142 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field142.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field143 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field143.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field144 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field144.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field145 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field145.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field146 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field146.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field147 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field147.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field148 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field148.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field149 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field149.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field150 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field150.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field151 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field151.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field152 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field152.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field153 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field153.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field154 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field154.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field155 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field155.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field156 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field156.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field157 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field157.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field158 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field158.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field159 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field159.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field160 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field160.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field161 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field161.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field162 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field162.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field163 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field163.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field164 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field164.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field165 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field165.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field166 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field166.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field167 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field167.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field168 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field168.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field169 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field169.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field170 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field170.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field171 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field171.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field172 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field172.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field173 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field173.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field174 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field174.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field175 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field175.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field176 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field176.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field177 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field177.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field178 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field178.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field179 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field179.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field180 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field180.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field181 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field181.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field182 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field182.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field183 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field183.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field184 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field184.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field185 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field185.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field186 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field186.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field187 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field187.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field188 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field188.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field189 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field189.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field190 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field190.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field191 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 70%;
	font-size: 1em;
}

input#field191.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field192 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field192.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field193 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

input#field193.inputbox.visCSSinput {
    width: 20%;
    border: 1px solid #999;
    padding: 2px;
    background: none;
}

.field203 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

.field204 .visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
  /*  margin-right: 1%; */
	width: 70%;
	font-size: 1em;
}

.visCSSlabel100 {
    display: block;
	float: left;
	margin-top: 10px;
    width: 99%;
    font-size: 1em;
}

.visCSSrllst {
    display: inline-block;
    width: 30%;
    margin-right: 1%;
    font-size: 1em;
}

.visCSSrbinl input[type="radio"] {
    margin-bottom: 5px;
}

.visCSSrlinl {
    display: inline;
    margin: 4px 4px 0 4px;
    font-size: 1em;
}

.visCSSmargLeft, .editor {
    margin-left: 30%;
}

.visCSSinput, .editor {
	width: 50%;
	margin-top: 10px;
	background:none;
  margin-left: 2.0em;
}

.visCSSinput input {
	background: none;
}

.visCSSinputnowidth {
	display: block;
	float: left;
	margin-top: 10px;
}

.visCSSclear {
	margin: 0px;
	padding: 0px;
	clear: both;
}

.visCSSFloatLeft {
	float: left;
}


.visCSSbot5 {
    margin-bottom: 5px;
}

.visCSStop0 {
    margin-top: 0; 
    padding-top: 10px;
}

.visCSSright20 {
    margin-left: 5px; 
    margin-right: 1.5em;
}

.visCSScenter {
	text-align:center !important;
	margin-top: 10px !important;
}

.visCustomText {
	margin-top: 10px;
}

.vispagination {
	text-align:center !important;
	margin-bottom: 15px;
}

.visdatatable {
	margin-top: 20px;
	margin-bottom: 10px;
	width: 100%;
	border-collapse:collapse;
}

.visdatatable td {
    vertical-align: top;
}

.visdatatableborder td, .visdatatableborder th  {
	border : 1px solid #ccc;
	padding: 0 2px;
}

.visfrontlabel {
	height: 30px;
	padding-right: 20px;
	font-weight: bold;
	color:#666;
        width: 30%;
}

form[id^='mod-visform'] .editor
{
    clear: left;
    width: 99%;
    margin-left: 0;
}